Mass: {{# round }}{{ mass }}{{/ round }}
Water: {{# percentage }}{{ hydrospherePercentage }}{{/ percentage }}%
Ice: {{# percentage }}{{ iceCoverPercentage }}{{/ percentage }}%
Gravity: {{# round }}{{ surfaceGravity }}{{/ round }}
Pressure: {{# round }}{{ surfacePressure }}{{/ round }}
Temp: {{# round }}{{ surfaceTemperature }}{{/ round }}
link: <a href="{{ system }}">link</a>
