<ul>
  {{# habitalPlanets }}
    <li>
      {{> planet }}
    </li>
  {{/ habitalPlanets }}
</ul>

<ul>
  {{# water }}
    <li>
      {{> planet }}
    </li>
  {{/ water }}
</ul>

<ul>
  {{# ice }}
    <li>
      {{> planet }}
    </li>
  {{/ ice }}
</ul>
