<div class="system">
  {{# system }}
    <div class="_coords">{{ x }}:{{ y }}</div>
    {{# stars }}
      <div class="_star">
        {{ type }}{{ luminosity }} &ndash; {{ name }}
      </div>
    {{/ stars }}
    {{# planets }}
      <div class="_planet">
        {{ type }}
      </div>
    {{/ planets }}
  {{/ system }}
</div>
