<div class="system">
  {{# system }}
    <div class="_coords">{{# round }}{{ x }}{{/ round }}:{{# round }}{{ y }}{{/ round }}</div>
    <div class="_star">
      Mass: {{# round }}{{ mass }}{{/ round }}
    </div>
    {{# stars }}
      <div class="_star">
        {{ type }}{{ luminosity }} &ndash; {{ name }}
      </div>
    {{/ stars }}
    {{# star }}
        <div class="_star">
            Ecosphere: {{# round }}{{ ecospherRadius }}{{/ round }} AU
        </div>
    {{/ star }}
    {{# planets }}
      <div class="_planet">
        {{# round }}{{ mass }}{{/ round }} EM&mdash;{{ type }}
        {{# round }}{{ distanceFromPrimaryStar }}{{/ round }} AU
      </div>
    {{/ planets }}
  {{/ system }}
</div>
